# Business Context

Montada University in the United States has several student support services including a library.

The university library offers various services to students such as renting study rooms, books, computers, group discussions, webinars, etc. All these services and several others are available on the library's own website and students can access it to schedule any service available.
The page has a University banner, a search bar, three main access categories, a sidebar on the right that displays the latest news.

During the period from April 3, 2013 to April 10, 2013, the library 'home' page received 10,819 visitors. When analyzing the page access data, the IT team and the University noticed a big difference between the accesses of the page category. The click-through rate for 'Find' was 35%, 'Request' was 6%, and 'Interect' was 2%.

Looking at the click-through rates, the IT team wondered why interest category conversion was so low.

One of the hypotheses of tay's team was that the name 'Interect' is confusing students, as it does not make clear the purpose of that category. So four new names were proposed to replace the current category name: 'Connect' , 'learn', 'Help', 'Service'.
With the category name variations an A/B/N test needs to be defined to validate which of the variations makes the category more understandable and attractive to students, with the expectation of increasing the click-through rate of that category.

Thus an AB and neither test was carried out for three weeks and between May 29, 2013 and June 18, 2013. The experiment was designed to ensure that the user accesses any of the variations with the same probability

# Business Challange

You've been hired as a freelancer by the University of Montana to help the IT team validate data from variations on the library's "home" page and tell whether any of the variations are really better than the current one. If so, which of the variations would be better and should replace the current category name.

The deliverables of your work are as follows:


-   Are any of the conversions really better than the current one? What would the name of the variation be?

# Solution Plan

1.0 Apply the method IOT.
Imput:
- Dataset;
- Business Plan;
    
Tesks:

    - Hyphotesis Tests;
    - Define the type of statistical inference method ( ANOVA, T-Test, Chi-Squared);
    - Experiment Planning: Hyphotesis, Sample size, Expected Effect.

Output:

    - Text.  
    
- 1.0 Experiment Designer;
- 2.0 Criate Hyphotesis to test;
- 3.0 Define a metric;
- 4.0 load the dataset;
- 5.0 Data cleaning;
- 6.0 Descriptive Analysis;
- 7.0 Exploratory Data Anaysis;
- 8.0 Hyphotesis Test( apply a test tecnic of statistical inference);
- 9.0 Conclusion;
- 10.0 Sugest which is the best variation.

# 0.1 Imports

In [16]:
import pandas as pd
import numpy as np

from statsmodels.stats.gof import chisquare_effectsize
from statsmodels.stats.power import GofChisquarePower

# 1.0 Load dataset

In [23]:
d = { 'variant': [ 'interact', 'connect', 'learn', 'help', 'services'],
      'visits' : [ 10283, 2752, 2747, 3180, 2064 ],
      'clicks_all' :[ 3714, 1587, 1652, 1717, 1348 ],
      'click_link' :[ 42, 53, 21, 38, 45 ] }
data = pd.DataFrame( d )
data['conversion'] = data['click_link'] / data['clicks_all']
data

    variant  visits  clicks_all  click_link  conversion
0  interact   10283        3714          42    0.011309
1   connect    2752        1587          53    0.033396
2     learn    2747        1652          21    0.012712
3      help    3180        1717          38    0.022132
4  services    2064        1348          45    0.033383

# Experiment Parameters

In [18]:
k = len( data['clicks_all'] )
actual_dist = data['clicks_all'] / data['clicks_all'].sum()
expected_dist = [ 1 / k ]*k

In [22]:
effect_size = chisquare_effectsize( expected_dist, actual_dist)
alpha = 0.05
power = 0.80


sample_size = GofChisquarePower().solve_power(
    effect_size = effect_size,
    alpha = alpha,
    power = power,
    n_bins = ( 2 - 1 )*( 5 -1 )
)


sample_size = np.ceil( sample_size ).astype( int )
print( 'Minimum Sample Size per Variant:{}'.format( sample_size ) )
print( 'Total Sample Size:{}'.format( k * sample_size ) )

Minimum Sample Size per Variant:59
Total Sample Size:295